In [1]:
import pandas as pd
import sklearn
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import pickle

In [3]:
filepath="C:/Users/user/OneDrive/Desktop/Data Science Syllabus and notes/Dataset/diabetes_prediction_dataset (1).csv"

In [4]:
diabetes=pd.read_csv(filepath)

In [7]:
diabetes.drop_duplicates(inplace=True)

In [8]:
encoded=OrdinalEncoder()

In [9]:
diabetes['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [10]:
diabetes['gender']=encoded.fit_transform(diabetes[['gender']])

In [11]:
diabetes['gender'].unique()

array([0., 1., 2.])

In [12]:
diabetes['smoking_history'].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [13]:
diabetes['smoking_history']=encoded.fit_transform(diabetes[['smoking_history']])

In [14]:
diabetes['smoking_history'].unique()

array([4., 0., 1., 3., 2., 5.])

In [15]:
x=diabetes.drop('diabetes',axis=1)

In [16]:
x

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,0.0,80.0,0,1,4.0,25.19,6.6,140
1,0.0,54.0,0,0,0.0,27.32,6.6,80
2,1.0,28.0,0,0,4.0,27.32,5.7,158
3,0.0,36.0,0,0,1.0,23.45,5.0,155
4,1.0,76.0,1,1,1.0,20.14,4.8,155
...,...,...,...,...,...,...,...,...
99994,0.0,36.0,0,0,0.0,24.60,4.8,145
99996,0.0,2.0,0,0,0.0,17.37,6.5,100
99997,1.0,66.0,0,0,3.0,27.83,5.7,155
99998,0.0,24.0,0,0,4.0,35.42,4.0,100
99999,0.0,57.0,0,0,1.0,22.43,6.6,90

In [17]:
y=diabetes.iloc[:,-1]

In [18]:
y

0        0
1        0
2        0
3        0
4        0
        ..
99994    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 96146, dtype: int64

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [20]:
model=DecisionTreeClassifier().fit(x_train,y_train)

In [21]:
y_predict=model.predict(x_test)

In [22]:
pickle.dump(model,open('diabetes_result','wb'))